body {
	font-family: Arial, Helvetica, sans-serif;
}

.page-break	{ page-break-before: always; }

#vouchers {
	/*height: 842px;*/
	width: 650px;
}

.voucher {
	border-left: 2px solid #F4F4F4;
	border-right: 2px solid #F4F4F4;
	border-bottom: 2px solid #F4F4F4;
	page-break-inside: avoid;
	float: left;
	height: 142px;
	width: 206px;
	position: relative;
}

#vouchers .voucher:nth-child(3n+2) {
	border-left: 0;
	border-right: 0;
}

.voucher .title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333333;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 2px 0;
	font-size: 13px;
	text-transform: uppercase;
}

.voucher .logo {
	position: absolute;
	top: 99px;
	left: 9px;
}

.voucher .logo>img {
	width: 32px;
}

.voucher .info {
	position: absolute;
	top: 20px;
	left: 2px;
	font-size: 11px;
	text-align: center;
}

.voucher .vcode {
	position: absolute;
	top: 71px;
	left: 2px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	width: 100%;
	/*float: right;*/
	font-family: "Courier New";
}

.voucher .vtime{
	position: absolute;
	top: 101px;
	left: 50px;
	font-size: 13px;
}

.voucher .vexpire{
	position: absolute;
	top: 116px;
	left: 50px;
	font-size: 13px;
	color: gray;
}

.voucher .vtime strong, .voucher .vtime b {
	color: #333333 !important;
}